<div class="navText">
  <ul class="navList">
    <li><a href="#">Home</a></li><li><a href="#">Development</a></li><li><a href="#">Forum</a></li><li><a href="#">Learning</a></li><li><a href="#">Contact</a></li>
  </ul>
  <div class="logonBox">
    <div class="navLoginText">Not a Member?&nbsp;<a class="loginSignUp" href="#">Sign-Up Now</a></div>
    <div class="navLogin">
      <a class="LogonLink" href="#">Sign In</a>
    </div>
  </div>
</div>