<div class="contentLinks">
  <a class="sideLinks" href="#">Home</a>
  <a class="sideLinks" href="#">Website Development</a>
    <a class="sideLinkDrop" href="#">Website Consultation</a>
    <a class="sideLinkDrop" href="#">Website Building</a>
    <a class="sideLinkDrop" href="#">Hosting Services</a>
  <a class="sideLinks" href="#">Education</a>
  <a class="sideLinks" href="#">Blogs</a>
  <a class="sideLinks" href="#">Forums</a>
  <a class="sideLinks" href="#">Projects</a>
  <a class="sideLinks" href="#">Contact</a>
</div>